.background-image {
  z-index: -9999;

  background-image: url(../img/BDD-background.png);
  background-size: 120vw;

  position: absolute;
  inset: 0px;

  opacity: 0.05;
}

.box-content {
  margin: 0 auto;
  padding-inline: min(4rem, 2vw);

  width: 100%;
  max-width: 120rem;
}

.section-divider {
  padding-block: 0.5rem;
  transform: scaleY(0.5);
}

@media only screen and (max-width: 768px) {
  .section-divider {
    /* padding-block: 1rem; */
    transform: none;
  }
}
