.background-image {
  z-index: -9999;

  background-image: url(../img/BDD-background.png);
  background-size: 120vw;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.05;
}

.section-divider {
  padding-block: 0.5rem;
  transform: scaleY(0.5);
}

@media only screen and (max-width: 768px) {
  .section-divider {
    /* padding-block: 1rem; */
    transform: none;
  }
}
