/* use BEM in class names
example:

.section-name-sec {

}

.section-name-s__element {

} */

.text-container {
  padding: 3%;
  margin: auto;
  width: 90%;
  line-height: 1.6;
}

.heading {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: min(3rem, 6vw);
  text-align: center;
  padding-top: 5%;
}

.BDDin {
  height: min(3rem, 6vw);
}

.line {
  width: 40%;
  margin: auto;
}

.line-header {
  width: min(12rem, 35vw);
}
.bdd-text {
  padding-top: 5%;
  text-align: center;
  /* font-size: min(1.5rem, 4vw); */
}
