/* use BEM in class names
example:

.section-name-sec {

}

.section-name-s__element {

} */

.best-zg-sec {
  padding: 1rem 2rem;

  background-color: var(--blue-clr);

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.best-zg-sec__container {
  flex-basis: 45%;
}

.best-zg-sec__container > h4,
.best-zg-sec__container > p {
  color: whitesmoke;
}

.best-zg-sec__container > p {
  line-height: 1.6;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .best-zg-sec__container {
    flex-basis: 100%;
  }
}
