/* ===== godisnji partneri section ===== */

.godisnji-partneri-sec__slider {
  margin: min(2rem, 4vw) auto;

  border-radius: min(1rem, 2vw);

  display: flex;

  width: 120rem;
  max-width: 90vw;
  height: max-content;
  overflow: hidden;

  position: relative;

  backdrop-filter: blur(2px);
}

.godisnji-partneri-sec__slider::before,
.godisnji-partneri-sec__slider::after {
  content: "";

  height: 100%;
  width: min(10rem, 20vw);

  position: absolute;
  top: 0;

  z-index: 2;
}

.godisnji-partneri-sec__slider::before {
  left: 0;

  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.godisnji-partneri-sec__slider::after {
  right: 0;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.godisnji-partneri-sec__slide {
  height: 100%;
  display: flex;
  align-items: center;

  /* animation: slideshow 16s linear infinite; */

  transition: all 0.5s ease-in-out;
}

.godisnji-partneri-sec__slide > a > img {
  width: 30rem;

  padding-inline: min(2rem, 2vw);

  transition: filter 0.3s ease-in-out;
}

.godisnji-partneri-sec__slide > a > img:hover,
.godisnji-partneri-sec__slide > a > img:focus {
  filter: opacity(0.3);
}

@media screen and (max-width: 1440px) {
  .godisnji-partneri-sec__slide > a > img {
    width: 30vw;
  }
}

@media screen and (max-width: 450px) {
  .godisnji-partneri-sec__slide > a > img {
    width: 45vw;
  }
}
