/* use BEM in class names
example:

.section-name-sec {

}

.section-name-s__element {

} */

.info-icons-sec {
  padding-block: min(40vw, 400px);

  position: relative;
}

.info-icons-sec__background {
  position: absolute;

  height: min(120vw, 1200px);
  width: 100%;
  object-fit: cover;

  z-index: -9999;

  top: 0;
}

.files-cards {
  margin: auto;

  max-width: 100rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: top;
  justify-content: space-around;
}

.file-card {
  display: grid;
  place-items: center;
  grid-template-rows: 3 auto;
  gap: 1.5rem;

  text-align: center;
}

.file-card > svg {
  height: min(30vw, 16rem);
}

.card__doc-name {
  font-size: min(2rem, 4.5vw);
  letter-spacing: min(2px, 0.25vw);

  text-transform: uppercase;
  color: white;
}

.card__doc-text {
  max-width: 30vw;

  font-size: min(1.25rem, 3.5vw);

  color: var(--text-clr-dark);
}

@media only screen and (max-width: 768px) {
  .info-icons-sec {
    padding-block: 32vw;
  }

  .files-cards {
    gap: 0.5rem;
  }

  .file-card {
    gap: 0.75rem;
  }
}
