/* ===== kontakt section ===== */

.kontakt-sec {
  padding-block: 0 min(5rem, 10vw);
}

.kontakt-sec__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.kontakt-sec__card {
  margin: min(2rem, 2vw);

  display: grid;
  grid-template-columns: min(25vw, 30rem);

  grid-template-rows: min(25rem, 20vw) auto;
  grid-template-areas: "image" "text";

  border-radius: 1.5rem;

  background: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);

  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;

  position: absolute;
  inset: -0.25rem;

  border-radius: 1.5rem;

  transform: translateZ(-1px); /*or z-index */

  animation: rgb 6s linear infinite;
  filter: blur(8px);
}

@media (prefers-reduced-motion) or (max-width: 450px) {
  .rgb::after {
    /* blur on mobile devices tanks performace */
    filter: none;

    /* background-xyz on mobile devices also loses performace */
    animation: none;
  }
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kontakt-sec__card-image {
  grid-area: image;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  background-image: linear-gradient(
      to right,
      #fff0 0%,
      #fff0 70%,
      whitesmoke 100%
    ),
    url("../../img/hero-background-temp.jpeg");
  background-size: cover;
}

.kontakt-sec__card-text-container {
  grid-area: text;

  margin: min(3vw, 1.5rem);
  transform: translateZ(1rem);
}

.kontakt-sec__card-function {
  color: var(--brown-clr);
  font-size: min(2.75vw, 1.25rem);
}

.kontakt-sec__card-name {
  padding-block: min(0.5vw, 0.5rem);

  font-size: min(1.625rem, 4vw);

  color: var(--text-clr-dark);
}

.kontakt-sec__card-text {
  color: var(--text-clr);
}

.kontakt-sec__card-link {
  text-decoration: none;
  color: var(--text-clr);
}

.kontakt-sec__card:nth-of-type(3n -2) .kontakt-sec__card-function,
.kontakt-sec__card:nth-of-type(3n -2) .kontakt-sec__card-link:hover,
.kontakt-sec__card:nth-of-type(3n -2) .kontakt-sec__card-link:focus {
  color: var(--brown-clr);
}

.kontakt-sec__card:nth-of-type(3n - 1) .kontakt-sec__card-function,
.kontakt-sec__card:nth-of-type(3n - 1) .kontakt-sec__card-link:hover,
.kontakt-sec__card:nth-of-type(3n - 1) .kontakt-sec__card-link:focus {
  color: var(--blue-clr-light);
}

.kontakt-sec__card:nth-of-type(3n) .kontakt-sec__card-function,
.kontakt-sec__card:nth-of-type(3n) .kontakt-sec__card-link:hover,
.kontakt-sec__card:nth-of-type(3n) .kontakt-sec__card-link:focus {
  color: var(--pink-clr-light);
}

@media screen and (max-width: 960px) {
  .kontakt-sec__card {
    width: 80vw;

    display: flex;
  }

  .kontakt-sec__card-image {
    background-position: center;

    float: left;
    width: 40%;

    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 450px) {
  .kontakt-sec__card {
    width: 75%;
  }

  .kontakt-sec__card-image {
    display: none;
  }
}
