.swapAnim {
    -webkit-animation: swapAnimation 4.4s forwards; 
    animation: swapAnimation 4.4s forwards;
    animation-iteration-count: infinite;
    animation-delay: 2.2s;
}
@keyframes swapAnimation {
    45% {opacity: 1;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    65%{opacity: 1;}
}
@-webkit-keyframes swapAnimation {
    45% {opacity: 1;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    65%{opacity: 1;}
}
.organizatori{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin: min(2rem, 4vw) auto;
}
.side-org > p, .main-org > p{
    padding-top: 5px;
    width:80%;
    text-align: center;
}
.side-org > h4, .main-org > h4{
    text-align: center;
    width: 90%;
}
.main-org > h4{
    color: var(--pink-clr);
}
.side-org{
    width: 25%;
    margin: 50px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(92,176,229,0.2) 0%, rgba(92,176,229,1) 100%);
    border-radius: min(1rem, 2vw);
    height: 54vh;
}
.main-org{
    width: 40%;
    background: linear-gradient(rgba(92,176,229,0.2) 0%, rgba(92,176,229,1) 40%);
    border-radius: min(1rem, 2vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 67vh;
}
.side-img{
    width: 200px;
    height: 200px;
    padding-top: 4vh;
}
.main-img{
    width: 300px;
    height: 300px;
    padding: 5vh 0 2vh 0;
}
.org-btn-div{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.org-button{
    width: 7vw;
    height: 2.5vh;
    border-radius: min(1rem, 2vw);
    border: none;
}
.org-button:hover{
    opacity: 0.75;
}
@media screen and (max-width: 768px) {
    .side-img{
        width: 130px;
        height: 130px;
    }
    .main-img{
        width: 210px;
        height: 210px;
    }
}
@media screen and (max-width: 426px) {
    .side-org{
        height: 35vh;
        margin: 30px 0 20px 0;
    }
    .main-org{
        height: 45vh;
    }
    .side-img{
        width: 70px;
        height: 70px;
        padding: 5px 5px 5px 5px;
    }
    .main-img{
        width: 100px;
        height: 100px;
        padding: 5px 5px 5px 5px;
    }
    .org-button{
        height: 1.5vh;
    }
}
@media screen and (max-width: 376px) {
    .side-org{
        height: 30vh;
    }
    .main-org{
        height: 40vh;
    }
    .side-img{
        width: 60px;
        height: 60px;
    }
    .org-button{
        height: 1vh;
    }
}