.raspored-sec__table-wrapper {
  margin-top: min(4vw, 2rem);

  border-radius: min(5vw, 2.5rem) min(6vw, 3rem) min(4vw, 2rem) min(8vw, 4rem);
  overflow: hidden;
}

.raspored-sec__table {
  width: 100%;

  border-collapse: collapse;
  border-style: hidden;

  text-align: center;
}

.raspored-sec__table td,
.raspored-sec__table th {
  padding: min(0.5vw, 0.75rem);

  border: 2px solid;
}

.raspored-sec__th-row > th {
  background-color: var(--brown-clr);
  border-color: var(--whitesmoke);
}

.raspored-sec__table td {
  border-color: var(--pink-clr);
}

.raspored-sec__th-row > th > h4 {
  color: var(--whitesmoke);
}
